<div>
    <!-- DATOS -->
    <div id="ver_datos" class="row col s12 m12 l12">
        <!-- DATOS -->
        <div class="col s12 m12 l4">
            <div class="card z-depth-3">
                <div class="card-content">
                    <p>TEMPERATURA</p><p id="dato_temperatura">00ºC</p>
                    <canvas id="chart-area" style="height:100%; width: 40%;"/>
                </div>
            </div>
        </div>
        <!-- DATOS -->
        <div class="col s12 m12 l4">
            <div class="card z-depth-3">
                <div class="card-content">
                    <p>HUMEDAD</p><p id="dato_humedad">5%</p>
                    <canvas id="chart-area2" style="height:100%; width: 40%;"/>
                </div>
            </div>
        </div>
        <!-- DATOS -->
        <div class="col s12 m12 l4">
            <div class="card z-depth-3">
                <div class="card-content">
                    <p>GAS</p><p id="dato_gas">5ppm</p>
                    <canvas id="chart-area3" style="height:100%; width: 40%;"/>
                </div>
            </div>
        </div>
    </div>
    <!-- DATOS -->
</div>

<script>
    window.onload = function(){
        var doughnutData = [
            {
                value: 4,
            },{
                value:10,
            }
            ,{
                value:5,
            }
        ];
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});

        var ctx2 = document.getElementById("chart-area2").getContext("2d");
        window.myDoughnut2 = new Chart(ctx2).Doughnut(doughnutData, {responsive : true});

        var ctx3 = document.getElementById("chart-area3").getContext("2d");
        window.myDoughnut3 = new Chart(ctx3).Doughnut(doughnutData, {responsive : true});

        var myDataRef = new Firebase('https://awarehome.firebaseio.com/');
        // Update our GUI to change a user"s status.
        myDataRef.on("child_changed", function(snapshot) {
            var message = snapshot.val();
            //console.log("child changed: "+message);

            //console.log("gas :"+message.gas);
            //console.log("temp :"+message.temperatura);
            //console.log("hum :"+message.humedad);
            if (message.temperatura >= 50){
                myDoughnut.segments[0].value = message.temperatura;
                myDoughnut.segments[2].value = 0;
                myDoughnut.update();
                document.getElementById('dato_temperatura').innerHTML = message.temperatura + "ºC";
            }
            else{
                myDoughnut.segments[2].value = message.temperatura;
                myDoughnut.segments[0].value = 0;
                myDoughnut.update();
                document.getElementById('dato_temperatura').innerHTML = message.temperatura + "ºC";
            }

            myDoughnut2.segments[2].value = message.humedad;
            myDoughnut2.update();
            document.getElementById('dato_humedad').innerHTML = message.humedad + "%";

            myDoughnut3.segments[2].value = message.gas;
            myDoughnut3.update();
            document.getElementById('dato_gas').innerHTML = message.gas + "ppm";
        });


    };//windows onload

</script>