<!-- VER ALERTAS INTELIGENTES -->
<div id="ver_alertas_inteligentes" class="row ">
    <div class="col s12 m1 l2 "><p></p></div>
    <div class="z-depth-3">
        <ul id="lista_alertas_inteligentes" class="collection col s12 m11 l12">
            <!--
<li class="collection-item avatar">
<i class="mdi-action-assessment circle green"></i>
<span class="title">Title</span>
<p>First Line <br>
Second Line
</p>
<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
</li>
-->
        </ul>
    </div>
    <div class="col s12 m1 l2"><p></p></div>
</div>
<!-- VER ALERTAS INTELIGENTES-->

<!-- Graficos de los datos -->

<div id="ver_alertas_inteligentes" class="row ">
    <div class="col s12 m1 l2 "><p></p></div>
    <div class="z-depth-3">
        <canvas id="canvas" col s12 m11 l12></canvas>
    </div>
    <div class="col s12 m1 l2"><p></p></div>
</div>
<!-- Graficos de los datos-->
