<div>
    <div class="row ">
        <!--        <div class="col s2 m1 l1 "><p></p></div>-->
        <div class="col s12 m12 l12">
            <div class="card z-depth-3">
                <div class="card-content">
                    <h4>Historial</h4>                    
                    <div class="row">
                        <div class="col s5 m5 l4">
                            <!--                    <input id="fecha" placeholder="Fecha" type="date" class="datepicker">-->
                            <input id="fecha" type="date" name="fecha">
                        </div>
                        <div class="col s4 m4 l6">
                            <select class="browser-default" onchange="buscarDatos(this.value)">
                                <option value="" disabled selected>Seleccione Sensor</option>
                                <option value="temperatura">Temperatura</option>
                                <option value="humedad">Humedad</option>
                                <option value="gas">Gas</option>
                            </select>
                        </div>

                        <div class="col s3 m3 l2 center">
                           <label>Real Time</label>
                            <!-- Switch -->
                            <div class="switch">
                                <label>
                                    Off
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--                    <span class="card-title activator grey-text text-darken-4">Historial</span>-->
                    <div class="progress" id="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div id="curve_chart" class="grafico"></div>


                </div>
            </div>
        </div>
        <!--        <div class="col s2 m1 l1"><p></p></div>-->
    </div>
</div>

<script>
    document.getElementById('progress').style.display = 'none';

</script>
