<div id="mapa">
    <div class="row">
        <!--        <div class="col s2 m1 l1 "><p></p></div>-->
        <div class="col s12 m12 l12">
            <div class="card z-depth-3">
                <div>
                    <div id="mapCanvas" ></div>
                </div>
            </div>
        </div>
    </div>
</div>  

<style>
    #sensor1 {
        position: absolute;
        left: 500px;
        top: 470px;
        z-index: 1;
    }
    #sensor2 {
        position: absolute;
        left: 180px;
        top: 470px;
        z-index: 1;
    }
    #sensor3 {
        position: absolute;
        left: 180px;
        top: 200px;
        z-index: 1;
    }
</style>

<div id="verPlanoHogar" class="row">
    <!--        <div class="col s2 m1 l1"><p></p></div>-->
    <div class="col s12 m12 l12">
        <div class="card z-depth-3">
            <div class="card-content">
                <h4>Hogar</h4>                    
                <div class="row">
                    <div class="col s12 m12 l12">

<!--                        <img id="plano" class="materialboxed" src="images/plano.jpg">-->
                        <img id="plano" class="materialboxed" width="700" src="images/plano.jpg">
                        <img id="sensor1" src="images/marker_red.png"> <!-- Movimiento -->
                        <img id="sensor2" src="images/marker_green.png"><!-- Temperatura y Humedad -->
                        <img id="sensor3" src="images/marker_green.png"><!-- Gas -->

                    </div>

                    <!--
<ul id="lista" class="collection col s12 m11 l12">
</ul>
-->

                    <div class="input-field col s12 m12 l12">
                        <a class="waves-effect waves-light btn" onclick="volver()" >Volver</a>
                    </div>
                    <br><br>
                </div>

            </div>
        </div>
    </div>
</div>


<script>


    var estadoAlertaMarker = 0;

    //document.getElementById('modal1').style.display = 'none';
    document.getElementById("verPlanoHogar").style.display = 'none';
    document.getElementById("mapa").style.display = 'block';

    //    var modal = document.getElementById('plano');
    //    modal.style.width = '500px !important';
    //    modal.style.height ='400px';

    var mapDiv = document.getElementById('mapCanvas');
    mapDiv.style.width = '100% !important';
    mapDiv.style.height ='600px';

    var map = new google.maps.Map(mapDiv, {
        center: new google.maps.LatLng(-33.0065,-71.5427),
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var marker = new google.maps.Marker();

    verHogar();
    cargarAlertas();


    function verHogar(){
        var lat = 0;
        var lng = 0;
        var nombreHogar = "";
        var direccion = "";

        var xmlhttp = new XMLHttpRequest();
        var url = "php/verHogar.php";
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                myFunction(xmlhttp.responseText);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();

        function myFunction(response) {
            //console.log(response);
            var arr = JSON.parse(response);
            lat = arr[0].lat;
            lng = arr[0].lng;
            nombreHogar = arr[0].nombre_hogar;
            direccion = arr[0].direccion;

            ver(lat, lng, nombreHogar, direccion);
        }
    }

    function ver(lat, lng, nombre, direccion){
        //        console.log(lat);
        //        console.log(lng);
        //        console.log(nombre);
        //        console.log(direccion);
        var nombreCasa = nombre;
        var latHogar=lat;
        var lngHogar = lng;
        var direccionHogar = direccion;

        var latLng = new google.maps.LatLng(latHogar,lngHogar);

        marker = new google.maps.Marker({
            position: latLng,
            title: nombreCasa,
            map: map,
            draggable: false
        });
        // Add dragging event listeners.
        google.maps.event.addListener(marker, 'click', function() {
            //alert("asdnasj");
            //$('#modal1').openModal();
            document.getElementById("verPlanoHogar").style.display = 'block';
            $('.materialboxed').materialbox();

            document.getElementById("mapa").style.display = 'none';
        });
    }

    function volver(){
        document.getElementById("verPlanoHogar").style.display = 'none';
        document.getElementById("mapa").style.display = 'block';   
    }



    //------------------- VER ALERTAS ----------------------
    function cargarAlertas(){

        document.getElementById('sensor1').src = "images/marker_green.png";
        document.getElementById('sensor2').src = "images/marker_green.png";
        document.getElementById('sensor3').src = "images/marker_green.png";

        estadoAlertaMarker = 0;

        var out = "";
        //document.getElementById("lista").innerHTML = out;

        var xmlhttp = new XMLHttpRequest();
        var url = "php/verActualizarAlertas.php";

        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                myFunction(xmlhttp.responseText);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();

        function myFunction(response) {
            //console.log(response);

            var arr = JSON.parse(response);
            var i;

            for(i = 0; i < arr.length; i++) {
                //                console.log(arr[i].nombre_alerta);
                //                console.log(arr[i].sensor);
                //                console.log(arr[i].signo);
                //                console.log(arr[i].valor);
                //                console.log(arr[i].estado);
                var estado;
                if (arr[i].estado == 1){
                    estado = "Activada";
                    estadoAlertaMarker = 1;
                }else{
                    estado = "Desactivada";
                }
                var sensor;
                if (arr[i].sensor == 1){
                    sensor = "Temperatura";
                }
                else if(arr[i].sensor == 2){
                    sensor = "Humedad";
                }
                else if(arr[i].sensor == 3){
                    sensor = "Gas";
                }
                else if(arr[i].sensor == 4){
                    sensor = "Movimiento";
                }


                if(sensor == "Temperatura" && estado == "Activada"){
                    document.getElementById('sensor2').src = "images/marker_red.png";
                    console.log(sensor + " " + estado);
                }
                if(sensor == "Humedad" && estado == "Activada"){
                    document.getElementById('sensor2').src = "images/marker_red.png";
                    console.log(sensor + " " + estado);
                }
                if(sensor == "Gas" && estado == "Activada"){
                    document.getElementById('sensor3').src = "images/marker_red.png";
                    console.log(sensor + " " + estado);
                }
                if(sensor == "Movimiento" && estado == "Activada"){
                    document.getElementById('sensor1').src = "images/marker_red.png";
                    console.log(sensor + " " + estado);
                }


                out += "<li class='collection-item avatar'><i class='mdi-action-assessment circle green'></i><span class='title'>"+arr[i].nombre_alerta+"</span><p>"+sensor+" "+arr[i].signo+" "+arr[i].valor+"<br>"+estado+"</p><a href='#!' class='secondary-content'></a></li>";
                //lista
            }
            if (estadoAlertaMarker == 1){
                marker.setIcon("images/marker_red.png");
            }else{
                marker.setIcon("images/marker_green.png");
            }


            // $("#lista").prepend(out);
        }
    }
    //------------------- VER ALERTAS ----------------------


</script>