<!-- VER ALERTAS -->
<div id="ver_alertas" class="row ">
    <div class="col s12 m1 l2 "><p></p></div>
    <div class="z-depth-3">
        <ul id="lista" class="collection col s12 m11 l12">

            <!--
<li class="collection-item avatar">
<i class="mdi-action-assessment circle green"></i>
<span class="title">Title</span>
<p>First Line <br>
Second Line
</p>
<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
</li>
-->

        </ul>
    </div>
    <div class="col s12 m1 l2"><p></p></div>
</div>
<!-- VER ALERTAS -->

<script>
    cargarAlertas();
    //------------------- VER ALERTAS ----------------------
    function cargarAlertas(){
        var out = "";
        document.getElementById("lista").innerHTML = out;

        var xmlhttp = new XMLHttpRequest();
        var url = "php/verActualizarAlertas.php";

        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                myFunction(xmlhttp.responseText);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();

        function myFunction(response) {
            console.log(response);

            var arr = JSON.parse(response);
            var i;

            for(i = 0; i < arr.length; i++) {
                console.log(arr[i].nombre_alerta);
                console.log(arr[i].sensor);
                console.log(arr[i].signo);
                console.log(arr[i].valor);
                console.log(arr[i].estado);
                var estado;
                if (arr[i].estado == 1){
                    estado = "Activada";
                }else{
                    estado = "Desactivada";
                }
                var sensor;
                if (arr[i].sensor == 1){
                    sensor = "Temperatura";
                }
                else if(arr[i].sensor == 2){
                    sensor = "Humedad";
                }
                else if(arr[i].sensor == 3){
                    sensor = "Gas";
                }

                out += "<li class='collection-item avatar'><i class='mdi-action-assessment circle green'></i><span class='title'>"+arr[i].nombre_alerta+"</span><p>"+sensor+" "+arr[i].signo+" "+arr[i].valor+"<br>"+estado+"</p><a href='#!' class='secondary-content'><i class='mdi-action-grade'></i></a></li>";
                //lista
            }
            //document.getElementById("lista").innerHTML = out;
            //$("#lista").html(out);

            $("#lista").prepend(out);
        }
    }
    //------------------- VER ALERTAS ----------------------
</script>