<div>
    <br>
    <!-- DATOS -->
    <div id="ver_datos" class="row col s12 m12 l12">
        <!-- DATOS -->
        <div class="col s12 m12 l4">
            <div class="card z-depth-3">
                <div class="card-content">
                    <p>TEMPERATURA</p><p id="dato_temperatura">00ºC</p>
                    <canvas id="chart-area" style="height:100%; width: 40%;"/>
                </div>
            </div>
        </div>
        <!-- DATOS -->
        <div class="col s12 m12 l4">
            <div class="card z-depth-3">
                <div class="card-content">
                    <p>HUMEDAD</p><p id="dato_humedad">5%</p>
                    <canvas id="chart-area2" style="height:100%; width: 40%;"/>
                </div>
            </div>
        </div>
        <!-- DATOS -->
        <div class="col s12 m12 l4">
            <div class="card z-depth-3">
                <div class="card-content">
                    <p>GAS</p><p id="dato_gas">5ppm</p>
                    <canvas id="chart-area3" style="height:100%; width: 40%;"/>
                </div>
            </div>
        </div>

    </div>
    <div class="row col s12 m12 l12">
        <div class="col s12 m12 l12">
            <div class="card z-depth-3">
                <div class="card-content">
                    <div class="col s4 m4 l8">
                        <p>MOVIMIENTO</p>
                        <br>
                    </div>

                    <div class="col s4 m4 l4">
                        <object id="front-page-logo"  data="images/luz_verde.png" style="height: 5%; width: 5%; "></object>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- DATOS -->


    <script>
        cargarGraficos();

        function cargarGraficos(){

            var doughnutData = [
                {
                    value: 0,
                },{
                    value: 0,
                }
                ,{
                    value:5,
                }
            ];

            var doughnutData2 = [
                {
                    value: 0, //rojo
                },{
                    value: 0,//verde
                }
                ,{
                    value:5,//azul
                }
            ];

            var doughnutData3 = [
                {
                    value: 0,
                },{
                    value: 0,
                }
                ,{
                    value:5,
                }
            ];
            var ctx = document.getElementById("chart-area").getContext("2d");
            window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});

            var ctx2 = document.getElementById("chart-area2").getContext("2d");
            window.myDoughnut2 = new Chart(ctx2).Doughnut(doughnutData2, {responsive : true});

            var ctx3 = document.getElementById("chart-area3").getContext("2d");
            window.myDoughnut3 = new Chart(ctx3).Doughnut(doughnutData3, {responsive : true});



            var myDataRef = new Firebase('https://awarehome.firebaseio.com/');
            // Update our GUI to change a user"s status.
            myDataRef.on("child_changed", function(snapshot) {
                var message = snapshot.val();
                //console.log("child changed: "+message);

                //                console.log("gas :"+message.gas);
                //                console.log("temp :"+message.temperatura);
                //                console.log("hum :"+message.humedad);
                //                console.log("mov :"+message.movimiento);

                try {
                    if (message.temperatura >= 50){
                        myDoughnut.segments[0].value = message.temperatura;
                        myDoughnut.segments[2].value = 0;
                        myDoughnut.update();
                        document.getElementById('dato_temperatura').innerHTML = message.temperatura + "ºC";
                    }
                    else{
                        myDoughnut.segments[2].value = message.temperatura;
                        myDoughnut.segments[0].value = 0;
                        myDoughnut.update();
                        document.getElementById('dato_temperatura').innerHTML = message.temperatura + "ºC";
                    }

                    myDoughnut2.segments[2].value = message.humedad;
                    myDoughnut2.update();
                    document.getElementById('dato_humedad').innerHTML = message.humedad + "%";

                    myDoughnut3.segments[2].value = message.gas;
                    myDoughnut3.update();
                    document.getElementById('dato_gas').innerHTML = message.gas + "ppm";
                }
                catch(err) {
                   console.log("Problemas con firebase");
                }



            });

        };//windows onload
    </script>
</div>